vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2213
vti_cachedlinkinfo:VX|S|Img/tabLeftFirstOff.gif S|Img/tabRightLastOff.gif S|Img/tabStripeOff.gif S|Img/tabLeftFirstOn.gif S|Img/tabRightLastOn.gif S|Img/tabStripeOn.gif S|Img/ScrollLeft.gif S|Img/ScrollRight.gif S|Img/ScrollLeftDisabled.gif S|Img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/Default/Img/tabLeftFirstOff.gif FSUS|RadControls/TabStrip/Skins/Default/Img/tabRightLastOff.gif FSUS|RadControls/TabStrip/Skins/Default/Img/tabStripeOff.gif FSUS|RadControls/TabStrip/Skins/Default/Img/tabLeftFirstOn.gif FSUS|RadControls/TabStrip/Skins/Default/Img/tabRightLastOn.gif FSUS|RadControls/TabStrip/Skins/Default/Img/tabStripeOn.gif FSUS|RadControls/TabStrip/Skins/Default/Img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/Default/Img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/Default/Img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/Default/Img/ScrollRightDisabled.gif
vti_lineageid:SR|{8371D435-19B3-4643-8308-B62389B7E703}
vti_backlinkinfo:VX|
