vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|1542
vti_cachedlinkinfo:VX|S|img/tabLeftOff.gif S|img/tabRightOff.gif S|img/tabMiddleOff.gif S|img/tabLeftOn.gif S|img/tabRightOn.gif S|img/tabMiddleOn.gif S|img/ScrollLeft.png S|img/ScrollRight.png S|img/ScrollLeftDisabled.png S|img/ScrollRightDisabled.png
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/Outlook/img/tabLeftOff.gif FSUS|RadControls/TabStrip/Skins/Outlook/img/tabRightOff.gif FSUS|RadControls/TabStrip/Skins/Outlook/img/tabMiddleOff.gif FSUS|RadControls/TabStrip/Skins/Outlook/img/tabLeftOn.gif FSUS|RadControls/TabStrip/Skins/Outlook/img/tabRightOn.gif FSUS|RadControls/TabStrip/Skins/Outlook/img/tabMiddleOn.gif FSUS|RadControls/TabStrip/Skins/Outlook/img/ScrollLeft.png FSUS|RadControls/TabStrip/Skins/Outlook/img/ScrollRight.png FSUS|RadControls/TabStrip/Skins/Outlook/img/ScrollLeftDisabled.png FSUS|RadControls/TabStrip/Skins/Outlook/img/ScrollRightDisabled.png
vti_lineageid:SR|{C16A9B16-D08C-48D7-A360-FB989A2E4E1A}
vti_backlinkinfo:VX|
