/* Skin Name: Nivo Slider Default Theme
Skin URI: <a href="http://matrix10.net">matrix10.net</a>
Description: The default skin for the Solon Security websites.
Version: 1.0
Author: Emrys, Matrix10
Author URI: <a href="http://matrix10.net">http://matrix10.net</a>
Support Thumbs: true */


.theme-solon-overlay.slider-wrapper {
	width:465px;
	height:560px;
	position:relative;
	overflow:visible;
}

#slider {overflow: visible}
#slider.nivoSlider {overflow: visible}
/*BACKUP*/
/*.theme-solon-overlay .nivoSlider {
	position:relative;
	background:url(loader.gif) no-repeat 50% 50%;
	overflow:visible;*/
	
	.theme-solon-overlay .nivoSlider {
    background: url("loader.gif") no-repeat scroll 50% 50% transparent;
    overflow: hidden;
    position: relative;

}
.theme-solon-overlay .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-solon-overlay .nivoSlider a {
	border:0;
	display:block;
}

.theme-solon-overlay .nivo-controlNav:hover {
	background-color: #3C3C3B;
	background-color: hsla(60, 1%, 23%, .8);
	background-color: rgba(59, 59, 58, .8);

}

.theme-solon-overlay .nivo-controlNav {
    position: absolute;
    left: 0;
    bottom:0;
    z-index: 10;
	height:50px;
	width:463px;
	text-align: left;
	text-indent:30px;
	padding: 5px 0;
	border-top: 0px solid #B2B2B1;
	background-color: #3C3C3B;
	background-color: hsla(60, 1%, 23%, .3);
	background-color: rgba(59, 59, 58, .3);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.theme-solon-overlay:hover .nivo-controlNav {
    /*bottom: 0;
    opacity: 1;*/
}
.theme-solon-overlay .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 5px 2px 0 2px;
}
.theme-solon-overlay .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-solon-overlay .nivo-directionNav a {
	display:block;
	border:0;
	color: #fff;
	text-transform: uppercase;
	z-index: 11;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	text-indent:-999px;
	background-image:url(arrows.png);
	background-repeat:no-repeat;
	width:17px;
	height:45px;
	top:auto;
	bottom:18px;
	visibility: visible!important;}


/*BACKUP*/
/*
.theme-solon-overlay a.nivo-nextNav,
.theme-solon-overlay a.nivo-prevNav {
	opacity:0.8;
}*/

.theme-solon-overlay a.nivo-nextNav {
    background-position: 100% 50%;
    right: 7px;
    visibility: hidden;
}
.theme-solon-overlay a.nivo-prevNav {
    background-position: 0 50%;
    left: 7px;
    visibility: hidden;
}
.theme-solon-overlay a.nivo-nextNav:hover,
.theme-solon-overlay a.nivo-prevNav:hover {
	opacity:1;
}

.theme-solon-overlay a.nivo-nextNav { 
    right: 7px; 
	background-position:100% 50%;
}
.theme-solon-overlay a.nivo-prevNav { 
    left: 7px; 
	background-position:0 50%;
}

.theme-solon-overlay .nivo-directionNav a:hover { color: #ddd; }

.theme-solon-overlay .nivo-caption {
    font-size:.75em;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	bottom:-20px;
	background-color:transparent;
}

.theme-solon-overlay .nivo-caption a {
    color:#fff;  
}
.theme-solon-overlay .nivo-caption a:hover {
    color:#fff;
}

.theme-solon-overlay .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-solon-overlay .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin: 2px;
}
.theme-solon-overlay .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: auto;
	height: 44px;
}
