vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 12:55:32 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 12:55:32 -0000
vti_filesize:IR|2726
vti_cachedlinkinfo:VX|S|dropDownBg.gif S|bg.gif S|bg.gif S|moreResults.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/ComboBox/Skins/ClassicGold/dropDownBg.gif FSUS|RadControls/ComboBox/Skins/ClassicGold/bg.gif FSUS|RadControls/ComboBox/Skins/ClassicGold/bg.gif FSUS|RadControls/ComboBox/Skins/ClassicGold/moreResults.gif
vti_lineageid:SR|{FC3D68B6-1318-4D4D-962A-F03622BCA9A7}
vti_backlinkinfo:VX|
