.RadTabStrip_SimpleBarGreen
{
	font: 8pt tahoma, sans-serif;
	text-align:center;
	background-repeat: repeat-x;
	border-bottom: solid 4px #5daa41;
	height: 22px;
}


.RadTabStrip_SimpleBarGreen ul
{
	/**/
}


.RadTabStrip_SimpleBarGreen .level1 li a
{
	padding-left: 0px;
	background-color: #ccd0bf;
	color: black;
	text-decoration: none;
	line-height: 22px;
	border-right: solid 1px white;
	border-top: solid 1px white;
}

.RadTabStrip_SimpleBarGreen .level1 li a:hover
{
	background-color: #aacf16;
	color: white;
	text-decoration: underline;
	margin-top: -3px;
	line-height: 25px;
}

.RadTabStrip_SimpleBarGreen .level1 li a .wrap
{

	padding-right: 0px;
}


.RadTabStrip_SimpleBarGreen .level1 li a .innerWrap
{

	padding:0 5px;
}

.RadTabStrip_SimpleBarGreen .level1 li a.selected
{
	line-height: 25px;
	color: white;
	margin-top: -3px;
}

.RadTabStrip_SimpleBarGreen .level1 li a.selected .wrap
{
	background-color: #5daa41;
}


.RadTabStrip_SimpleBarGreen .level1 li a.selected .innerWrap
{
	background-color: #5daa41;
}

.RadTabStrip_SimpleBarGreen .level1  li a.selected:hover, 
.RadTabStrip_SimpleBarGreen .level1 li a.selected:hover .wrap, 
.RadTabStrip_SimpleBarGreen .level1 li a.selected:hover .innerWrap
{
	background-color: #5daa41;
}

/* level2 tabs */

.RadTabStrip_SimpleBarGreen .level2 ul
{
	padding-top: 6px;
	background-color: #5daa41;
	height: 20px;
}

.RadTabStrip_SimpleBarGreen .level2 li a
{
	color: white;
	text-decoration: none;
	font-size: 9px;
	padding: 0px 9px;
}

.RadTabStrip_SimpleBarGreen .level2 li a.selected,
.RadTabStrip_SimpleBarGreen .level2 li a.selected:hover,
.RadTabStrip_SimpleBarGreen .level2 li a:hover
{
	color: black;
}

/* arrows */
.RadTabStrip_SimpleBarGreen .rightArrow, 
.RadTabStrip_SimpleBarGreen .leftArrow,
.RadTabStrip_SimpleBarGreen .rightArrowDisabled, 
.RadTabStrip_SimpleBarGreen .leftArrowDisabled
{
	width:8px;
	height:11px;
}




.RadTabStrip_SimpleBarGreen .leftArrow
{
	background-image:url(img/ScrollLeft.gif);
}

.RadTabStrip_SimpleBarGreen .rightArrow
{
	background-image:url(img/ScrollRight.gif);
}

.RadTabStrip_SimpleBarGreen .leftArrowDisabled
{
	background-image:url(img/ScrollLeftDisabled.gif);
}

.RadTabStrip_SimpleBarGreen .rightArrowDisabled
{
	background-image:url(img/ScrollRightDisabled.gif);
}