vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2007 10:11:46 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|26 Jun 2007 10:11:46 -0000
vti_filesize:IR|2962
vti_cachedlinkinfo:VX|S|Img/bg.gif S|Img/Headerbg.gif S|Img/resizeHeader.gif S|Img/resize.gif S|Img/GroupPanel.gif S|Img/GroupPanelItem.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/Grid/Skins/WinXP/Img/bg.gif FSUS|RadControls/Grid/Skins/WinXP/Img/Headerbg.gif FSUS|RadControls/Grid/Skins/WinXP/Img/resizeHeader.gif FSUS|RadControls/Grid/Skins/WinXP/Img/resize.gif FSUS|RadControls/Grid/Skins/WinXP/Img/GroupPanel.gif FSUS|RadControls/Grid/Skins/WinXP/Img/GroupPanelItem.gif
vti_lineageid:SR|{433F6947-E782-4AE9-BBE9-A884F22AFBE9}
vti_backlinkinfo:VX|
