<?xml version="1.0"?>
<connectionStrings>
	<add name="demo" connectionString="Data Source=DUTCHESS\PRI;Initial Catalog=demo;User ID=tabula;Password=Sund1al" providerName="System.Data.SqlClient"/>
	<add name="eve" connectionString="Data Source=DUTCHESS\PRI;Initial Catalog=eve;User ID=tabula;Password=Sund1al" providerName="System.Data.SqlClient"/>
	<add name="wl" connectionString="Data Source=DUTCHESS\PRI;Initial Catalog=wl;User ID=tabula;Password=Sund1al" providerName="System.Data.SqlClient"/>
</connectionStrings>

