vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2076
vti_cachedlinkinfo:VX|S|Img/bg.gif S|Img/off.gif S|Img/on.gif S|img/ScrollLeft.gif S|img/ScrollRight.gif S|img/ScrollLeftDisabled.gif S|img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/PinkTabs/Img/bg.gif FSUS|RadControls/TabStrip/Skins/PinkTabs/Img/off.gif FSUS|RadControls/TabStrip/Skins/PinkTabs/Img/on.gif FSUS|RadControls/TabStrip/Skins/PinkTabs/img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/PinkTabs/img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/PinkTabs/img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/PinkTabs/img/ScrollRightDisabled.gif
vti_lineageid:SR|{5714AAB2-31C2-4B4D-B039-EB8377A0DDE8}
vti_backlinkinfo:VX|
