vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 12:55:30 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 12:55:30 -0000
vti_filesize:IR|2745
vti_cachedlinkinfo:VX|S|dropDownBg.gif S|bg.gif S|bg.gif S|moreResults.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/ComboBox/Skins/ClassicBlue/dropDownBg.gif FSUS|RadControls/ComboBox/Skins/ClassicBlue/bg.gif FSUS|RadControls/ComboBox/Skins/ClassicBlue/bg.gif FSUS|RadControls/ComboBox/Skins/ClassicBlue/moreResults.gif
vti_lineageid:SR|{99EC2803-1BAA-475A-B116-0E292800965B}
vti_backlinkinfo:VX|
