<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="noreply@ntsa.org.uk">
				<network host="127.0.0.1" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="priwebsvc.service" value="http://mobile.ntsa.org.uk:8080/service.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="Members" connectionString="Data Source=DUTCHESS\PRI;Password=Tabula!;User ID=web;Initial Catalog=Members" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" cookieless="false" timeout="30"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" urlLinePragmas="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="login/default.aspx" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="/default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<roleManager enabled="true" defaultProvider="SqlRoleManager">
			<providers>
				<add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="Members" applicationName="/PriorityWeb"/>
			</providers>
		</roleManager>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" connectionStringName="Members" applicationName="/" enablePasswordRetrieval="FALSE" enablePasswordReset="true" requiresQuestionAndAnswer="FALSE" requiresUniqueEmail="true" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<profile defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Members" applicationName="/" description="SqlProfileProvider"/>
			</providers>
			<properties>
				<add allowAnonymous="false" defaultValue="" name="txtDelAddress1" readOnly="false" serializeAs="ProviderSpecific" type="string"/>
				<add name="txtDelAddress2"/>
				<add name="txtDelAddress3"/>
				<add name="txtDelAddress4"/>
				<add name="txtDelPostcode"/>
			</properties>
		</profile>
		<pages>
			<controls>
				<add tagPrefix="PRIORITY" tagName="MEMBERS" src="~/controls/UserManager.ascx"/>
				<add tagPrefix="PRIORITY" tagName="PART" src="~/controls/partTemplate.ascx"/>
				<add tagPrefix="PRIORITY" tagName="CURRENCY" src="~/controls/currencyselect.ascx"/>
				<add tagPrefix="PRIORITY" tagName="VIEW" src="~/controls/Enclosure.ascx"/>
				<add tagPrefix="PRIORITY" tagName="CMS" src="~/controls/cmsPage.ascx"/>
				<add tagPrefix="PRIORITY" tagName="WEBMENU" src="~/controls/Menu.ascx"/>
				<add tagPrefix="PRIORITY" tagName="PRICART" src="~/controls/PriCart.ascx"/>
			</controls>
		</pages>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
		
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
       -->
		<customErrors mode="Off"/>
	</system.web>
	<location path="Login">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="MasterPages">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
