vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|1173
vti_cachedlinkinfo:VX|S|img/ScrollLeft.png S|img/ScrollRight.png S|img/ScrollLeftDisabled.png S|img/ScrollRightDisabled.png
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/VerticalSimple/img/ScrollLeft.png FSUS|RadControls/TabStrip/Skins/VerticalSimple/img/ScrollRight.png FSUS|RadControls/TabStrip/Skins/VerticalSimple/img/ScrollLeftDisabled.png FSUS|RadControls/TabStrip/Skins/VerticalSimple/img/ScrollRightDisabled.png
vti_lineageid:SR|{A924D8DB-126C-4137-A8B2-2166922FF951}
vti_backlinkinfo:VX|
