vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2057
vti_cachedlinkinfo:VX|S|img/TabLeft.gif S|img/tabRight.gif S|img/tabMiddle.gif S|img/TabLeftSelected.gif S|img/tabRightSelected.gif S|img/tabMiddleSelected.gif S|img/ScrollLeft.gif S|img/ScrollRight.gif S|img/ScrollLeftDisabled.gif S|img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/WebBlue/img/TabLeft.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/tabRight.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/tabMiddle.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/TabLeftSelected.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/tabRightSelected.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/tabMiddleSelected.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/WebBlue/img/ScrollRightDisabled.gif
vti_lineageid:SR|{F43653C1-A092-43E6-9D3D-0FC17D859360}
vti_backlinkinfo:VX|
