vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2410
vti_cachedlinkinfo:VX|S|img/ScrollLeft.gif S|img/ScrollRight.gif S|img/ScrollLeftDisabled.gif S|img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/SimpleBarBrick/img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/SimpleBarBrick/img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/SimpleBarBrick/img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/SimpleBarBrick/img/ScrollRightDisabled.gif
vti_lineageid:SR|{FDD51BE8-A6B4-4B52-BD08-EEA851AF7489}
vti_backlinkinfo:VX|
