vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jul 2010 16:30:56 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{6DF06B55-4816-4E80-A50C-433D912C7545}
vti_backlinkinfo:VX|
vti_author:SR|WONDERLAND\\Administrator
vti_nexttolasttimemodified:TW|05 Jul 2010 11:29:23 -0000
vti_timecreated:TR|08 Apr 2010 14:38:10 -0000
vti_modifiedby:SR|WONDERLAND\\Administrator
vti_cacheddtm:TX|05 Jul 2010 16:30:57 -0000
vti_filesize:IR|4835
