vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2007 10:11:46 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|26 Jun 2007 10:11:46 -0000
vti_filesize:IR|2672
vti_cachedlinkinfo:VX|S|Img/GridHeaderBg.gif S|Img/gridSelectedRowBg.gif S|Img/GriPagerBg.gif S|Img/GridGroupPanelBg.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/Grid/Skins/Office2007/Img/GridHeaderBg.gif FSUS|RadControls/Grid/Skins/Office2007/Img/gridSelectedRowBg.gif FSUS|RadControls/Grid/Skins/Office2007/Img/GriPagerBg.gif FSUS|RadControls/Grid/Skins/Office2007/Img/GridGroupPanelBg.gif
vti_lineageid:SR|{FFAB6203-1C34-429C-B8C4-27E7D1C52807}
vti_backlinkinfo:VX|
