vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2001
vti_cachedlinkinfo:VX|S|Img/tabLeftFirstOff.gif S|Img/tabRightLastOff.gif S|Img/tabStripeOff.gif S|Img/tabLeftFirstOn.gif S|Img/tabRightLastOn.gif S|Img/tabStripeOn.gif S|Img/ScrollLeft.png S|Img/ScrollRight.png S|Img/ScrollLeftDisabled.png S|Img/ScrollRightDisabled.png
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/Telerik/Img/tabLeftFirstOff.gif FSUS|RadControls/TabStrip/Skins/Telerik/Img/tabRightLastOff.gif FSUS|RadControls/TabStrip/Skins/Telerik/Img/tabStripeOff.gif FSUS|RadControls/TabStrip/Skins/Telerik/Img/tabLeftFirstOn.gif FSUS|RadControls/TabStrip/Skins/Telerik/Img/tabRightLastOn.gif FSUS|RadControls/TabStrip/Skins/Telerik/Img/tabStripeOn.gif FSUS|RadControls/TabStrip/Skins/Telerik/Img/ScrollLeft.png FSUS|RadControls/TabStrip/Skins/Telerik/Img/ScrollRight.png FSUS|RadControls/TabStrip/Skins/Telerik/Img/ScrollLeftDisabled.png FSUS|RadControls/TabStrip/Skins/Telerik/Img/ScrollRightDisabled.png
vti_lineageid:SR|{0D9B7F32-D260-485B-8885-F30C6BE4BB04}
vti_backlinkinfo:VX|
