vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2387
vti_cachedlinkinfo:VX|S|img/ScrollLeft.gif S|img/ScrollRight.gif S|img/ScrollLeftDisabled.gif S|img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/SimpleBarBlue/img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/SimpleBarBlue/img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/SimpleBarBlue/img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/SimpleBarBlue/img/ScrollRightDisabled.gif
vti_lineageid:SR|{33FBB758-BEA2-4123-A701-F451931E8725}
vti_backlinkinfo:VX|
