  body.product_detail.layout4 .hproduct.main figure:before,
        body.product_detail.offers .hproduct.main figure:before {
                content: '';
                position: absolute;
                width: 465px;
                height: 560px;
                background-position: 100% 0px;
                background-repeat: no-repeat;
                z-index: 1;
        }
