vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2395
vti_cachedlinkinfo:VX|S|img/tabLeftOff.gif S|img/tabRightOff.gif S|img/tabMiddleOff.gif S|img/tabLeftOn.gif S|img/tabRightOn.gif S|img/tabMiddleOn.gif S|img/ScrollLeft.png S|img/ScrollRight.png S|img/ScrollLeftDisabled.png S|img/ScrollRightDisabled.png
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/Longhorn/img/tabLeftOff.gif FSUS|RadControls/TabStrip/Skins/Longhorn/img/tabRightOff.gif FSUS|RadControls/TabStrip/Skins/Longhorn/img/tabMiddleOff.gif FSUS|RadControls/TabStrip/Skins/Longhorn/img/tabLeftOn.gif FSUS|RadControls/TabStrip/Skins/Longhorn/img/tabRightOn.gif FSUS|RadControls/TabStrip/Skins/Longhorn/img/tabMiddleOn.gif FSUS|RadControls/TabStrip/Skins/Longhorn/img/ScrollLeft.png FSUS|RadControls/TabStrip/Skins/Longhorn/img/ScrollRight.png FSUS|RadControls/TabStrip/Skins/Longhorn/img/ScrollLeftDisabled.png FSUS|RadControls/TabStrip/Skins/Longhorn/img/ScrollRightDisabled.png
vti_lineageid:SR|{221CEE4B-F173-42E4-9179-814C394DD839}
vti_backlinkinfo:VX|
