vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2378
vti_cachedlinkinfo:VX|S|img/ScrollLeft.gif S|img/ScrollRight.gif S|img/ScrollLeftDisabled.gif S|img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/SimpleBarGray/img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/SimpleBarGray/img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/SimpleBarGray/img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/SimpleBarGray/img/ScrollRightDisabled.gif
vti_lineageid:SR|{67D90300-34F9-47C1-B9CF-F099C72F0BAA}
vti_backlinkinfo:VX|
