vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 12:55:32 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 12:55:32 -0000
vti_filesize:IR|2598
vti_cachedlinkinfo:VX|S|dropDownBg.gif S|bg.gif S|bg.gif S|moreResults.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/ComboBox/Skins/Telerik/dropDownBg.gif FSUS|RadControls/ComboBox/Skins/Telerik/bg.gif FSUS|RadControls/ComboBox/Skins/Telerik/bg.gif FSUS|RadControls/ComboBox/Skins/Telerik/moreResults.gif
vti_lineageid:SR|{04928878-6E43-4F94-A882-4EF1435EA86B}
vti_backlinkinfo:VX|
