vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 12:55:30 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 12:55:30 -0000
vti_filesize:IR|2632
vti_cachedlinkinfo:VX|S|dropDownBg.gif S|headerBg.gif S|headerSeparator.gif S|bg.gif S|bgOver.gif S|moreResults.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/ComboBox/Skins/Brick/dropDownBg.gif FSUS|RadControls/ComboBox/Skins/Brick/headerBg.gif FSUS|RadControls/ComboBox/Skins/Brick/headerSeparator.gif FSUS|RadControls/ComboBox/Skins/Brick/bg.gif FSUS|RadControls/ComboBox/Skins/Brick/bgOver.gif FSUS|RadControls/ComboBox/Skins/Brick/moreResults.gif
vti_lineageid:SR|{00BC0B21-CF14-4199-801B-F741B3DC4D29}
vti_backlinkinfo:VX|
