<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
 
    <head id="Head" runat="server">
    
        <!-- #include file="html-head.inc" -->
        
    </head>

    <body class="about-us">
    
        <form id="form1" runat="server">        
            <!-- #include file="page-header.inc" -->


            <h1 class="column grid_4">
                <asp:Literal ID="PageTitle" runat="server"></asp:Literal>
            </h1>

            <!-- #include file="sidebar.inc" -->
                        
            <section class="column grid_2 featured_text">
               <asp:ContentPlaceHolder ID="Main" runat="server">
                
               </asp:ContentPlaceHolder>
                
            </section>
     
     <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
    		            
		                </asp:ContentPlaceHolder>
          
 <!-- <img src="images/about-us-pic.jpg" class="featured_image column grid_2"> -->

<hr class="column grid_4 gap_1">

	<aside class="products_intro">
		<h3 class="column grid_4">Featured Products:</h3>
		
		    <asp:ListView ID="ChildPage" runat="server" parentNode="ce1d8dcd-2011-4d6f-b8fc-f83948ecaf9e">
                 <LayoutTemplate>
                     
			            <asp:PlaceHolder runat="server" ID="itemPlaceholder" />
                     
                 </LayoutTemplate>
             
                 <ItemTemplate>
                 
					
		            <article class="column grid_1">
			            <a href="<%# Eval("loc") %>" title="<%# Eval("description") %>&hellip;">
				            <img class="category-image" src="<%# Eval("image") %>" alt="<%# Eval("description") %> <%# Eval("keywords") %>">
				            <h4><%#Eval("pagetitle")%></h4>
			            </a>
			            <p><%# Eval("description") %></p>
		            </article>
		
	
                 </ItemTemplate>
                 
            </asp:ListView>
            
            
	</aside><!--eof other_prod_links-->


            
            
            <!-- #include file="footer.inc" -->

        </form>
        
    </body>
    
</html>