vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2007 10:11:46 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|26 Jun 2007 10:11:46 -0000
vti_filesize:IR|2896
vti_cachedlinkinfo:VX|S|Img/headerBg.gif S|Img/GroupPanelBg.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/Grid/Skins/WebBlue/Img/headerBg.gif FSUS|RadControls/Grid/Skins/WebBlue/Img/GroupPanelBg.gif
vti_lineageid:SR|{5DB31FF3-1B60-4FC0-A867-09EF8710BAE4}
vti_backlinkinfo:VX|
