vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|1979
vti_cachedlinkinfo:VX|S|img/tabOff.gif S|img/tabOff.gif S|img/tabOff.gif S|img/tabOn.gif S|img/tabOn.gif S|img/ScrollLeft.png S|img/ScrollRight.png S|img/ScrollLeftDisabled.png S|img/ScrollRightDisabled.png
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/WinVista/img/tabOff.gif FSUS|RadControls/TabStrip/Skins/WinVista/img/tabOff.gif FSUS|RadControls/TabStrip/Skins/WinVista/img/tabOff.gif FSUS|RadControls/TabStrip/Skins/WinVista/img/tabOn.gif FSUS|RadControls/TabStrip/Skins/WinVista/img/tabOn.gif FSUS|RadControls/TabStrip/Skins/WinVista/img/ScrollLeft.png FSUS|RadControls/TabStrip/Skins/WinVista/img/ScrollRight.png FSUS|RadControls/TabStrip/Skins/WinVista/img/ScrollLeftDisabled.png FSUS|RadControls/TabStrip/Skins/WinVista/img/ScrollRightDisabled.png
vti_lineageid:SR|{27313409-2B83-403F-BC52-97D792550262}
vti_backlinkinfo:VX|
