vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2007 10:11:44 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|26 Jun 2007 10:11:44 -0000
vti_filesize:IR|2616
vti_cachedlinkinfo:VX|S|Img/headerBg.gif S|Img/rowBg.gif S|Img/rowBg.gif S|Img/rowBg.gif S|Img/rowBg.gif S|Img/rowBg.gif S|Img/footerBg.gif S|Img/headerBg.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/Grid/Skins/Desert/Img/headerBg.gif FSUS|RadControls/Grid/Skins/Desert/Img/rowBg.gif FSUS|RadControls/Grid/Skins/Desert/Img/rowBg.gif FSUS|RadControls/Grid/Skins/Desert/Img/rowBg.gif FSUS|RadControls/Grid/Skins/Desert/Img/rowBg.gif FSUS|RadControls/Grid/Skins/Desert/Img/rowBg.gif FSUS|RadControls/Grid/Skins/Desert/Img/footerBg.gif FSUS|RadControls/Grid/Skins/Desert/Img/headerBg.gif
vti_lineageid:SR|{5219FD9C-7ACE-4003-BAB9-E5EE0914052F}
vti_backlinkinfo:VX|
