body{text-align: center;font-family:Verdana, Arial, Helvetica, sans-serif;margin: 38px 0 20px 0;padding: 0;font-size: 90%;background: #ccc;}

a {color: #4c7a08;font-weight: bold;}
a:hover {color: #4c7a08;text-decoration:none;}
acronym {cursor:help}

#hide {display: none;}
#hidden {text-align: right;width:950px;margin:0 auto;background: url("../images/admin/numbers_bg.jpg") no-repeat right;height: 30px;font-weight: bold;font-size: 80%;}
#hidden p{margin: 0 30px 0 0;padding-top: 6px;}

#container {width:950px;margin:0 auto;text-align: left;background: url("../images/content.jpg") 0px 200px repeat-x #fff;}

#header {height: 127px; background: url("../images/admin/admin_header.jpg")}
#header h2 {display: none}
#header span {float: right; margin: 12px 20px 0 0; font-size: 90%;}
#header span a {font-weight: bold; color: #F00; padding: 0 0 3px 25px;background:url("../images/icons/basket.gif") no-repeat left;}
#header p {font-size: 90%; text-align: right; padding: 20px 20px 0 0;}

#navigation {font-size: 90%; background: url("../images/admin/admin_nav.jpg"); height: 73px; color: #fff;}
#navigation ul {list-style: none; margin: 0; padding: 20px 0 0 20px;}
#navigation li {display: inline; padding: 0 0 0 20px;}
#navigation a{color: #4c7a08; font-weight:bold; text-decoration: none;}
#navigation a:hover{color: #4c7a08; text-decoration: underline;}

#main_content {padding: 10px 20px 20px 20px; margin: 0;}
#main_content h1, #main_content h2 {margin: 0; padding: 5px 0 5px 0; font-size: 140%; color: #9fc100}
#main_content h3 {color: #000; font-size: 100%;}
#main_content fieldset {font-size: 90%; border: 1px solid #999; padding: 10px; margin-bottom: 10px;}
#main_content label span {float: left; width: 200px;}
#main_content legend {padding: 0 15px; font-weight: bold; color: #5c7300;}

.product{width: 45%;height: 230px;float: left;border: 1px solid #999;margin: 0 10px 10px 0;padding: 10px;background: #fff}
.product h3 {font-size: 100%; background: url("../images/product_h3_bg.gif") #acd700; padding: 4px; margin: 0 0 20px 0; color:#000;}
.product p {font-size: 80%}
.product img {float: left; margin-right: 10px; border: none}
.product form {text-align: right; border-top: 1px solid #999; padding-top: 5px; margin: 0; font-size: 80%}
.product label {float: left; padding-top: 5px;}
.product .info {text-align: right;padding: 0; margin: 0; font-size: 80%; font-weight: bold;}
.product .price {text-align: right; font-size: 120%; font-weight: bold; padding: 5px 0; margin: 0}
.product ul, .product ol {height: 90px}
.product li {font-size: 80%; margin-left: 20px;}

.product_info h3 {font-size: 100%; background:url("../images/product_h3_bg.gif") #acd700; padding: 4px; margin: 0 0 20px 0;}
.product_info p {font-size: 90%; margin-left: 220px;}
.product_info img {float: left; margin: 15px 10px 0 0;}
.product_info form {text-align: right; padding-top: 10px;}
.product_info form img {float: none; border: none;}
.product_info label {}
.product_info .price {text-align: right; font-size: 120%; font-weight: bold;}

#basket {border-collapse: collapse; font-size: 90%; width: 100%; border: 1px solid #999;}
#basket th {padding: 3px; background:url("../images/product_h3_bg.gif") #acd700;border-bottom: 1px solid #999;}
#basket td {padding: 3px;}
#basket a {color: #F00; }
#basket a:hover {color: #F00; text-decoration: none;}
#basket .total {text-align: right; border-top: 1px solid #999;}
.remove {padding: 0 0 3px 25px;background:url("../images/icons/remove.gif") no-repeat left;}
.agree {clear: both;}
.agree strong {font-size: 80%;}

#basketconfirm {border-collapse: collapse; width: 100%; border: 1px solid #999;font-size: 90%; }
#basketconfirm th {padding: 3px; background:url(../images/product_h3_bg.gif) #acd700;}
#basketconfirm td {padding: 3px;}
#basketconfirm a {color: #F00; }
#basketconfirm a:hover {color: #F00; text-decoration: none;}
#basketconfirm .subtotal {background: #ededed;text-align: right; border-top: 3px double #999;}
#basketconfirm .postage {background: #ededed;text-align: right;}
#basketconfirm .vat {background: #ededed;text-align: right;}
#basketconfirm .total {background: #ededed; text-align: right; font-size: 150%;}

.print_page {float: right;}
.print_page a{padding: 0 0 0 23px;background:url("../images/icons/print.gif") no-repeat left;}
.errormessage {color: #f00; border: 1px solid #F00; padding: 5px; background: #ffc6c6; font-weight: bold;}
.error {color: #f00;}
.alert {color: #f00; font-weight: bold; font-size: 80%; margin: 0;}
.step {width: 100%; background: url("../images/step_bg.gif") #666; border: 1px solid #999; padding: 3px; font-size: 80%; color: #fff}
.step strong {color: #acd700}

.buttons {text-align: right;}
.buttons img {border: none}

.imgleft {float: left; margin: 10px 10px 10px 0; border: none}
.imgright {float: right; margin: 10px 0 10px 10px; border: none}

.stsmall p{font-size: 80%;}
.stsmall img {float: left;}
.stimgright {float: right; border: none}

#footer {height: 95px; clear:both; font-size: 70%; background: #333; color: #999; margin-top: 20px; border-top: 10px solid #fff;}
#footer p {margin: 0px; padding: 5px 10px;}
#footer img {border: none; float: right; margin: 0 10px 10px 0;}
#footer a {color: #acd700}
#footer a:hover {text-decoration:none}

.search {
font-size: 80%;
margin: 10px 0;
}
.search input {font-size: 100%;}
.search span{padding: 0 20px 0 5px;}

/*-- Administration Console CSS --*/


#admin_blocks { width: 650px;}

.home_block {width: 200px; height: 180px; margin: 5px; float: left; border: 1px solid #999;}
.home_block ul {margin: 0 0 10px 0; padding: 0; }
.home_block li {font-size: 10pt; padding: 2px 10px 3px 10px; margin: 1px 0;}
.home_block h3 {margin: 0 0 10px 0; padding: 2px 5px; background:url("../images/product_h3_bg.gif") #acd700; font-size:10pt}


.home_block:hover {background:#eaf8c1;}
.home_block li:hover {font-size: 10pt; padding: 2px 10px 3px 10px; margin: 1px 0;background:#3a93d2; color:#fff;}
.home_block li a {color: #333; text-decoration:none}
.home_block li a:hover {color: #fff;}
.home_block li:hover a {color: #fff;}

#infobox {font-size: 70%; width: 200px; border: 1px solid #999; float: right;}
#infobox dt {margin: 0 0 0 5px; font-weight: bold; float: left; width: 120px;}
#infobox dd {margin: 5px; }
#infobox p {font-weight: bold; font-size: 120%; padding: 5px 0 5px 5px; margin: 0; background:url("../images/product_h3_bg.gif") #acd700;}

#admin table{border-collapse: collapse; font-size: 90%; width: 910px; border: 1px solid #999;}
#admin th {padding: 3px; background:url("../images/product_h3_bg.gif") #acd700;}
#admin td {padding: 3px;border-top: 1px solid #ccc;}
#admin tbody tr:hover {background: #9c6; color: #FFF; }
.admin_delivery, .summary_delivery {width: 45%; float: left;}
.admin_delivery p, .admin_billing p, .admin_order p, .admin_payment p{font-size: 80%}
.pages {font-size: 80%; border: 1px solid #999; margin: 20px 0; width: 910px;}
.pages p {margin: 0; padding: 5px; text-align: right;}
#orders table{border-collapse: collapse; font-size: 70%; width:910px; border: 1px solid #999;}
#orders th {padding: 3px; background:url("../images/product_h3_bg.gif") #acd700;}
#orders td {padding: 5px;border-top: 1px solid #ccc;}
#orders tbody tr:hover {background: #9c6; color: #FFF;}
#orders .summary {background: #ededed;text-align: right;}
.order_search {width: 700px; }
#status  #basketconfirm {border-collapse: collapse; width: 100%; border: 1px solid #999;font-size: 90%; }
#status {}
#status table{border-collapse: collapse; font-size: 80%; width:720px; border: 1px solid #999;background: #fff}
#status th {padding: 3px; background:url("../images/product_h3_bg.gif") #acd700;}
#status td {padding: 5px;border-top: 1px solid #ccc;vertical-align: top}



#reports table{border-collapse: collapse; font-size: 8pt; width: 910px; border: 1px solid #999; margin: 10px 0}
#reports th {padding: 3px; background:url("../images/product_h3_bg.gif") #acd700; height: 30px;}
#reports td {padding: 3px;border-top: 1px solid #ccc;}
#reports tbody tr:hover {background: #c4fa8c;}
.month {background: #999; font-weight: bold; color: #fff;}
.month td:hover {background: #999;}
.totals {font-weight: bold;height: 30px; font-size:9pt; background:#f9cd98}
.monthly1 {height: 30px;background: #fff;}
.monthly2 {height: 30px;background: #ddd;}
.costs {width: 70px; float: left;}

.negative {color: #F00; font-weight:bold}
.positive {}


/*-- ROWS CLASSES --*/
.row1 {background: #f8dfc1; font-size:90%;}
.row2 {background: #fff; font-size:90%;}
.row3 {background: #fff; color: #666; font-size:90%;}
.row4 {background: #fff; color: #666; font-size:90%;}
.row5 {background: #ededed; font-size:90%;}

.month {background: #999; font-weight: bold; color: #fff;}
.month td:hover {background: #999;}
.totals {font-weight: bold;height: 30px; font-size:9pt; background:#c4fa8c}
.monthly1 {height: 30px;background: #fff;}
.monthly2 {height: 30px;background: #eaf8c1;}
.badlogin {color: #F00}

.list {list-style: none}

.edit_page {padding: 0 25px 3px 0;background:url("../images/icons/edit_page.gif") no-repeat right;}
.edit_product {padding: 0 25px 3px 0;background:url("../images/icons/edit_product.gif") no-repeat right;}
.view_order {padding: 0 25px 3px 0;background:url("../images/icons/orders.gif") no-repeat right;}
.export{padding: 0 0 3px 23px;background:url("../images/icons/export.gif") no-repeat left;}
.new_window{padding: 0 25px 3px 0;background:url("../images/icons/new_window.gif") no-repeat right;}
.anal{padding: 0 0 3px 25px;background:url("../images/icons/stats.gif") no-repeat left;}
.adword{padding: 0 0 3px 25px;background:url("../images/icons/adwords.gif") no-repeat left;}
.prod{padding: 0 0 3px 25px;background:url("../images/icons/products.gif") no-repeat left;}
.orders{padding: 0 0 3px 25px;background:url("../images/icons/orders_icon.gif") no-repeat left;}
.edpage {padding: 0 0 3px 25px;background:url("../images/icons/pages.gif") no-repeat left;}
.edproduct {padding: 0 0 3px 25px;background:url("../images/icons/edit_product.gif") no-repeat left;}
.add_product {padding: 0 0 3px 25px;background:url("../images/icons/add_product.gif") no-repeat left;}
.footprints {padding: 0 0 3px 25px;background:url("../images/icons/footprints.gif") no-repeat left;}
.report_tracker {padding: 0 0 3px 25px;background:url("../images/icons/report_tracker.gif") no-repeat left;}
.report_search {padding: 0 0 3px 25px;background:url("../images/icons/report_search.gif") no-repeat left;}
.report_popular {padding: 0 0 3px 25px;background:url("../images/icons/report_popular.gif") no-repeat left;}
.report_purchased {padding: 0 0 3px 25px;background:url("../images/icons/report_purchased.gif") no-repeat left;}
.report_monthly {padding: 0 0 3px 25px;background:url("../images/icons/report_monthly.gif") no-repeat left;}
.external_scripts {padding: 0 0 3px 25px;background:url("../images/icons/external_scripts.gif") no-repeat left;}
.php_icon {padding: 0 0 3px 25px;background:url("../images/icons/php_icon.gif") no-repeat left;}
.stock_alerts {padding: 0 0 3px 25px;background:url("../images/icons/stock.gif") no-repeat left;}
.edit_images {padding: 0 0 3px 25px;background:url("../images/icons/images.gif") no-repeat left;}
.edit_category {padding: 0 0 3px 25px;background:url("../images/icons/edit_category.gif") no-repeat left;}
.add_category {padding: 0 0 3px 25px;background:url("../images/icons/add_category.gif") no-repeat left;}
.peep {padding: 0 0 3px 25px;background:url("../images/icons/peep.gif") no-repeat left;}
.logs {padding: 0 0 3px 25px;background:url("../images/icons/logs.gif") no-repeat left;}
.backup {padding: 0 0 3px 25px;background:url("../images/icons/backup.gif") no-repeat left;}
.home {padding: 0 0 3px 25px;background:url("../images/icons/home.gif") no-repeat left;}
.delete {color:#F00}

.pagination {}
.pagination span {color: #999;}

.summary_box img {float: right; border: none;}
noscript h1{border: 1px solid #f00;border-bottom: none;padding: 5px;background: #f8b3b3;font-weight: bold;color: #f00;width:760px;margin:0 auto;font-size: 100%;}
noscript p{border: 1px solid #f00;border-top: none;font-size: 80%;padding: 5px;background: #f8b3b3;font-weight: bold;width:760px;margin:0 auto 10px auto;}

.notice h1{border: 1px solid #f00;border-bottom: none;padding: 5px;background: #f8b3b3;font-weight: bold;color: #f00;width:760px;margin:0 auto;font-size: 100%;}
.notice p{border: 1px solid #f00;border-top: none;font-size: 80%;padding: 5px;background: #f8b3b3;font-weight: bold;width:760px;margin:0 auto 10px auto;}

#terms {border: 1px solid #993;background:#e6fda0;  margin:10px 0; overflow:auto; height: 200px}
#terms h2{font-weight: bold;font-size: 120%; color: #000;padding: 10px 10px 3px 10px;}
#terms p {padding: 0 10px 3px 10px; font-size: 90%;}