vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 12:55:32 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 12:55:32 -0000
vti_filesize:IR|1819
vti_cachedlinkinfo:VX|S|moreResults.gif
vti_cachedsvcrellinks:VX|NSUS|RadControls/ComboBox/Skins/WebBlue/moreResults.gif
vti_lineageid:SR|{848C13DD-A41B-4EFE-8E62-16A7CF8072E3}
vti_backlinkinfo:VX|
