vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 12:55:32 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 12:55:32 -0000
vti_filesize:IR|2029
vti_cachedlinkinfo:VX|S|dropdownBg.gif S|bg.gif S|bg.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/ComboBox/Skins/Mac/dropdownBg.gif FSUS|RadControls/ComboBox/Skins/Mac/bg.gif FSUS|RadControls/ComboBox/Skins/Mac/bg.gif
vti_lineageid:SR|{0F853B7F-3EEE-4770-9053-568617992D8B}
vti_backlinkinfo:VX|
