vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2597
vti_cachedlinkinfo:VX|S|img/tabLeftFirstOff.gif S|img/tabRightLastOff.gif S|img/tabStripeOff.gif S|img/tabLeftFirstOn.gif S|img/tabRightLastOn.gif S|img/tabStripeOn.gif S|img/ScrollLeft.gif S|img/ScrollRight.gif S|img/ScrollLeftDisabled.gif S|img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/dnn/img/tabLeftFirstOff.gif FSUS|RadControls/TabStrip/Skins/dnn/img/tabRightLastOff.gif FSUS|RadControls/TabStrip/Skins/dnn/img/tabStripeOff.gif FSUS|RadControls/TabStrip/Skins/dnn/img/tabLeftFirstOn.gif FSUS|RadControls/TabStrip/Skins/dnn/img/tabRightLastOn.gif FSUS|RadControls/TabStrip/Skins/dnn/img/tabStripeOn.gif FSUS|RadControls/TabStrip/Skins/dnn/img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/dnn/img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/dnn/img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/dnn/img/ScrollRightDisabled.gif
vti_lineageid:SR|{BB6A05A1-94B3-45F8-8066-FBBC8F0954D6}
vti_backlinkinfo:VX|
