vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2176
vti_cachedlinkinfo:VX|S|img/bottom.gif S|img/top.jpg S|img/tabBkg.jpg S|img/tabTop.jpg S|img/activeBkg.gif S|img/ScrollLeft.png S|img/ScrollRight.png S|img/ScrollLeftDisabled.png S|img/ScrollRightDisabled.png
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/bottom.gif FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/top.jpg FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/tabBkg.jpg FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/tabTop.jpg FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/activeBkg.gif FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/ScrollLeft.png FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/ScrollRight.png FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/ScrollLeftDisabled.png FSUS|RadControls/TabStrip/Skins/VerticalVS2005/img/ScrollRightDisabled.png
vti_lineageid:SR|{5B6FAB25-A557-4E96-8089-20BFEB240CE3}
vti_backlinkinfo:VX|
