vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2007 10:11:44 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|26 Jun 2007 10:11:44 -0000
vti_filesize:IR|2805
vti_cachedlinkinfo:VX|S|Img/headerBg.gif S|Img/rowBg.gif S|Img/rowBg.gif S|Img/altRowBg.gif S|Img/pagerBg.gif S|Img/groupHeaderBg.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/Grid/Skins/Glassy/Img/headerBg.gif FSUS|RadControls/Grid/Skins/Glassy/Img/rowBg.gif FSUS|RadControls/Grid/Skins/Glassy/Img/rowBg.gif FSUS|RadControls/Grid/Skins/Glassy/Img/altRowBg.gif FSUS|RadControls/Grid/Skins/Glassy/Img/pagerBg.gif FSUS|RadControls/Grid/Skins/Glassy/Img/groupHeaderBg.gif
vti_lineageid:SR|{8262D648-FE91-40B8-BFEA-1A29907FE0AE}
vti_backlinkinfo:VX|
