vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2007 11:19:26 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jun 2007 11:19:26 -0000
vti_filesize:IR|2409
vti_cachedlinkinfo:VX|S|img/ScrollLeft.gif S|img/ScrollRight.gif S|img/ScrollLeftDisabled.gif S|img/ScrollRightDisabled.gif
vti_cachedsvcrellinks:VX|FSUS|RadControls/TabStrip/Skins/SimpleBarGreen/img/ScrollLeft.gif FSUS|RadControls/TabStrip/Skins/SimpleBarGreen/img/ScrollRight.gif FSUS|RadControls/TabStrip/Skins/SimpleBarGreen/img/ScrollLeftDisabled.gif FSUS|RadControls/TabStrip/Skins/SimpleBarGreen/img/ScrollRightDisabled.gif
vti_lineageid:SR|{8F402B7C-D4C9-43F8-8BAE-46D822F68F3D}
vti_backlinkinfo:VX|
